.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dataBox{
  padding: 20px;
  box-shadow: 0 0 5px #282c34;
  display: inline-block;
  margin: 20px 0;
}
.dataBox .dataBtnBox{
  display: block;
  margin: 20px auto;
  background-color: cornflowerblue;
  color: #282c34;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 5px 20px;
  border-radius: 12px;
}
.dataBox .dataBtnBox:hover{
  background-color: cornflowerblue;
}
.itemBox{
  display: flex;
  width: 500px;
  padding: 15px;
  text-align: left;
  box-shadow: 0px 0px 10px #000000;
  margin: 20px auto
}
.itemName{
  font-weight: 600 !important;
}
.buttonBox{
  margin-left: auto;
  
}
.buttonBox .itemButton{
  background-color: #84a984;
  color: #fff;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0 12px;
  text-transform: capitalize;
  font-weight: 600;
}

.buttonBox .itemButton:hover{
  background-color: #84a984;
}